.container {
  position: relative;
}

.container * {
  box-sizing: border-box;
}

.map {
  border: 1px solid #d7d7d7;
  background-color: rgb(229, 227, 223);
  height: 500px;
}

.infoWindow {
  max-width: 200px;
}

.infoWindow h4 {
  margin: 0 0 5px;
  padding: 0;
}

.searchBox {
  border: 1px solid #d7d7d7;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 15px;
  bottom: 30px;
  left: 10px;
  width: 350px;
  background: #fff;
  z-index: 1;
}

.storesList {
  border: 1px solid #d7d7d7;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.storesList li {
  background: #F8F8F8;
  color: #333333;
  padding: 15px;
  margin: 0 0 1px 0;
  transition: background .2s ease;
  position: relative;
}
.storesList .activeShop {
  background: #ebebeb;
}

.storesList li h4 {
  margin: 0 0 5px;
  font-size: 14px;
}

.storesList li address {
  margin: 0 0 10px;
}

.searchInput {
  border: 1px solid #d7d7d7;
  position: relative;
  margin-bottom: 10px;
}

.searchInput input{
  border: 0;
  background: #FFFFFF;
  line-height: 36px;
  height: 36px;
  width: 100%;
  padding: 0 36px 0 15px;
  font-size: 14px;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 16px;
}

.searchHint {
  margin-bottom: 10px;
  padding: 0 2px 0;
  font-size: 14px;
  color: #696969;
}

.storeActions {
  text-transform: uppercase;
  font-size: 13px;
}

.storeActions a {
  margin-right: 10px;
  text-decoration: none;
  color: #999999;
  transition: color .2s ease;
}

.storeActions a:hover {
  color: #000;
}

.storeActions a:hover svg {
  fill: #000;
}

.storeActions a svg {
  vertical-align: middle;
  margin-right: 3px;
  fill: #999999;
  transition: fill .2s ease;
}

.storeDistance {
  color: #999999;
  font-size: 14px;
  margin-bottom: 5px;
}